body { background: url(../img/tempbg.png) top left repeat fixed;}
.glblCont {
	width: 100%;
	display: block;
}
.title {height: 1100px; position: relative;}
.title .logo {
	max-width: 480px;
	position: relative;
	top: 40%;
	margin: 0 auto;
}
.portTabs { background: white;}